.top_60 {
  padding-top: 60px !important;
}

.top_45 {
  padding-top: 45px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.p_30 {
  padding: 30px !important;
}

.pb_45 {
  padding-bottom: 45px !important;
}

.main {
  min-height: 100vh;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 3px rgba(234, 238, 247, 0.75);
  -webkit-box-shadow: 1px 1px 15px 3px rgba(234, 238, 247, 0.75);
  -moz-box-shadow: 1px 1px 15px 3px rgba(234, 238, 247, 0.75);
  padding: 30px;
}

